 
        body{
            width: 100%;
            background: #e9e9e9;
            color: #707070;
            font-size: 14px;
            font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
            box-sizing: border-box;
        }
        .nav{
            border-bottom: 1px solid #efd2d2!important;
            padding-bottom: 18px;
            position: fixed;
            width: 100%;
            background: #FFF;
            top: 0;
            overflow: hidden;
        }
        .cursor{
            cursor: pointer;
        }
        .nav > img{
            padding: 10px 20px 0;
            max-width: 20%;
            float: left;
        }
        .nav > .nav-i{
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            margin: 7px 5px 0 10px;
            width: 540px;
            float: right;
        }
        .nav-i button{
            height: 40px;
            margin: 5px 10px;
            background: white;
            color: #707070;
            outline: none;
            border: 1px solid #E6E6E6;
        }
        #nav-owner{
            background-color: #009587;
            color: white;
            border: 1px solid #009587;
        }
        #nav-login{
            border: none;
        }
        #nav-login::after{
            margin-left: 20px;
            content: "|";
            color: #E6E6E6;
        }
        #nav-menu{
            border: none;
        }
        .nav-i button:hover{
            cursor: pointer;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
          color: black;
          padding: 12px 0;
          text-decoration: none;
          display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd}

        .show {
            display:block;
        }
        .nav > .nav-space{
            float: left;
            border: hidden;
            width: 40%;
        }
        .main_content{
            padding: 7% 20% 1%;
            max-width: 100%;
            background: white;
        }
        .text-center{
            text-align: center;
        }
        .main_para{
            text-align: center;
            font-size: 30px;
            padding: 0 20px 30px;
            font-weight: 400;
            margin-left: 12%;       
        }
        .report{
            background-color: pink;
            width: 450px;
            height: 40px;
            clear: both;
            margin:auto;
            border-radius: 5px;
        }
        .report a{
            color: #464646;
            font-weight: 600;
        }
        .report div,p{
            float: left;
            margin: 12px 5px 0px;
        }
        .first-main{
            margin-bottom: 30px;
        }
        .buy{
            width: 70%;
            height: 60px;
            margin:1% 26% 0;
            display: flex;
            flex-direction: row;
        }
        .buy button{
            bottom: 0;
            margin: 10px 0 0;
            background-color: rgb(245, 244, 244);
            width: 26%;
            height: 50px;
            border:0.6px solid #e9e9e9;
            border-bottom: hidden;
            color: #aaa;
            text-align: center;
            outline: none;
        }
        .buy > #button-2{
            background: white;
            border-bottom: 2px solid red;
        }
        #search{
            margin: 0 3% 0 13%;
            height: 120px;
            text-align: center;
            width: 80%;
            clear: both;
        }
        #search > .search-form{
            margin: 0 0 -5px;
            border: 0.2px solid #e2e2e2;
            border-radius: 5px 5px 0 0;
            padding: 1px;
            display: flex;
            flex-direction: row;
        }
        .search-form .search-city{
            margin: 0;
            display: flex;
            flex-direction: row;
            text-align: center;
            font-size: 15px;
            width: 25%;
            padding: 10px 0 0 14px;
            border-right: 0.6px solid #e9e9e9; ;
        }
        .search-form .search-text{
            width: 400px;
        }
        .search-text input{
            height: auto;
            padding:  15px 15px 15px 12px;
            font-size: 15px;
            width: 270px;
            margin: 4px 0;
            border: none;
            border-radius: 0 3px 0 0;
        }
        .search-button{
            height: auto;
            padding: 13px;
            font-size: 16px;
            border-radius: 0 3px 0 0;
            background: #fd3753;
            border: 1px solid #fd3753;
            color: white;
            width: 20%;
        }
        .search-button > button{
            display: flex;
            flex-direction: row;
            background: #fd3753;
            border-width: 0;
            padding: 0 10px;
            color: white;
            font-size: 17px;
            width: 20%;
        }
        .p-owner{
            display: flex;
            flex-direction: row;
            width: 600px;
            margin-left: 28%;
        }
        .p-owner > .property-owner{
            text-align: center;
            width: 30%;
            font-weight: 500;
        }
        .line-2{
            background-color: #e2e2e2;
            height: 2px;
            width: 100px;
            margin: 6px 10px;
        } 
        .owner > #owner-button{
            background: #009587;
            color: white;
            margin: 3% 38%;
            width: 250px;
            height: 28px;
            padding-top: 2%;
            border-radius: 8px;
        }
        #main-banner{
            background-color: #384d6ce8;
            color: white;
            max-height: 75px;
            text-align: center;
            padding: 25px 0;
            letter-spacing: 0.4px;
        }
        .banner-btn{
            margin-left: 10px;
            padding: 7px;
            border-radius: 5px;
            width: 130px;
            border: none;
        }
        .services{
            background: white;
            padding: 20px 0 30px;
            height: 150px;
            
        }
        .services .serviceItem{
            width: 16.66%;
            text-align: center;
            margin: 0;
            float: left;
            background: white;
        }
        .serviceItem .serviceItemIcon{
            height: 80px;
            margin: 12px auto;
            width: 60px;
        }
        .serviceItemIcon:hover{
            transform: scale(1.1);
            transition: transform .3s ease-out;
        }
        .serviceItem .service-orange{
            margin-left: 3px;
            background:  #ed5352;
            color: white;
            font-size: 12px;
            padding: 0 1.5px;
            border-radius: 2px;
        }
        .serviceItemIcon img{
           width: 60px;
        }
        .serviceItem .serviceItemText{
            padding-top: 5px;
            color: #837872;
            font-weight: 500px;
            text-align: center;
        }
        .hp-caption{
            height: 55px;
            background: white;
            display: flex;
            flex-direction: row;
        }
        .caption-line-circle1{
            width: 35%;
            display: flex;
            flex-direction: row;
        }
        .caption-line-circle2{
            width: 35%;
            display: flex;
            flex-direction: row-reverse;
        }
        .caption-line{
            background-color: #909496de;
            height: 2px;
            margin-top: 10px;
            width: 90%;
        }
        .caption-circle{
            border-radius: 50%;
            margin: 0;
            width: 20px;
            height: 20px;
            border: 1px solid  #FD3753;
        }
        .caption-content{
            color: #666;
            font-size: 30px;
            width: 30%;
            text-align: center;
        }
        .hp-info-content{
            background: white;
            height: 260px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto;
            padding: 10px 0 20px;
            width: 100%;
        }
        .info-content-icon-text{
            width: 210px;
            height: 250px;
            padding: 15px 5% 0px;
        }
        @media only screen and (max-width: 930px) {
            .hp-info-content{
                height: 520px;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                grid-template: "a b"
                                "c d";
            }
        } 
        #info-1{
            grid-area: a;
        }
        #info-1{
            grid-area: b;
        }
        #info-1{
            grid-area: c;
        }
        #info-1{
            grid-area: d;
        }
        .info-content-icon img{
            height: 100px;
            width: 230px;
            
        }
        .info-content-icon :hover{
            transform: scale(1.2);
            transition: transform .3s ease-out
        }
        .info-content-text h4,p{
            text-align: center;
        }
        .hp-planforBuilders-head{
            display: flex;
            flex-direction: row;
            padding: 40px 0;
        }
        .hp-planforBuilders-head .hp-planforBuilders-line{
            width: 20%;
        }
        .hp-planforBuilders-title{
            width: 60%;
        }
        .hp-planforBuilders .build-img-info{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template: "b1 b2";
        }
        @media only screen and (max-width: 850px) {
            .hp-planforBuilders{
                height: 748px;
            }
            .hp-planforBuilders .build-img-info{
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                grid-template: "b1"
                                "b2";
            }
        } 
        .build-img-info .build-img{
            width: 50%;
            height: 300px;
            grid-area: b1;
        }
        .build-img > img{
            margin-left: 40%;
        }
        .build-info{
            height: 300px;
            width: 50%;
            grid-area: b2;
            padding-left:10%;
            display: flex;
            flex-direction: column;
        }
        .build-info p{
            padding: 0 30% 30px 0;
            width: 100%;
        }
        .build-info button{
            margin-left: 5%;
            width: 50%;
        }
        .build-info .build-line{
            margin: 40px 10px;
        }
        .nb-diffence{
            background: white;
            height: 270px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-template: "r1 r2 r3";
            width: 100%;
            padding:0 0 4% 0;
        }
        @media only screen and (max-width: 765px) {
            .nb-diffence{
                height: 810px;
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                grid-template: "r1"
                                "r2"
                                "r3";
            }
        } 
        .nb-diffence #round-01{
            margin-left: 12%;
            grid-area: r1;
        }
        #round-02{
            margin-left: 12%;
            grid-area: r2;
        }
        #round-03{
            margin-left: 12%;
            grid-area: r3;
        }
        .nb-diffence .round-1{
            height: 250px;
        }
        .round{
            width: 200px;
            height: 200px;
            border: 4px solid #FD3753;
            border-radius: 50%;
            text-align: center;
        }
        .round p{
            padding: 35% 5%;
            font-size: 40px;
            color: #FD3753;;
        }
        .round-1 > p{
            font-size: 22px;
            padding: 5px 45px 0 0 ;
        }
        .customer-feedback{
            padding: 2% 0;
            width: 100%;
            background: #384d6ce8;
        }
        .customer-feedback > p{
            text-align: center;
            color: white;
            width: 100%;
            font-size: 30px;
            margin: 2% 0 3%;
        }
        .feedback-video{
            width: 100%;
        }
        .feedback-video > img{
            width: 60%;
            height: 500px;
            margin-left: 20%;
        }
        .customer-feedback > a{
            color: white;
            font-size: 20px;
        }
        .appstore-container{
            background-color: #fafafa;
            padding-top: 50px;
            height: 500px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template: "a1 a2";
        }
        @media only screen and (max-width: 880px) {
            .appstore-container{
                height: 994px;
                padding-top: 10px;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                grid-template: "a1"
                                "a2";
            }
        } 
        #app-1{
            grid-area: a1;
        }
        #app-2{
            grid-area: a2;
        }
        .appstore-container .mobile-app-img{
            padding-left: 50px;
        }
        .appstore-container .mobile-app-details{
            padding-left:5% ;
        }
        .mobile-app-details .mobile-title{
            margin-top: 20px;
            text-transform: capitalize;
            color: #FD3753;
            font-size: 40px;
            margin-bottom: 45px;
        }
        .mobile-app-details .download-title{
            color: #000;
            font-size: 25px;
        }
        .mobile-app-details .download-sub-title{
            font-size: 20px;
            font-weight: 200;
            color: #222;
        }
        .mobile-app-details > .android-app-link{
            margin-top: 35px;
            margin-bottom: 50px;
            display: inline-block;
            cursor: pointer;
        }
        .footer{
            width: 100%;
            height: 500px;
        }
        .footer > .row{
            height: 300px;
            background:  #909496;
            color: #ccc;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template: "row1 row2";
        }
        .footer > .row > .about-us{
            width: 100%;
            height: 50%;
        }
        @media only screen and (max-width: 850px) {
            .footer > .row{
                height: 600px;
                grid-template-columns: auto;
                grid-template-rows: 150px auto;
                grid-template: "row1"
                                "row2";
            }
            .footer > .row > .about-us{
                height: 150px;
                bottom: 0;
            }
        } 
      
        .about-us > p{
            text-align: justify;
            padding: 0 10px;
        }
        .row h3,h4{
            padding: 10px 12px 0;
            margin-bottom: 0;
            color: #FFF;
        }
        .row-ccf-wrap{
            grid-area: "row2";
            display: flex;
            flex-direction: row;
        }
        .row-ccf-wrap ul{
            list-style: none;
            padding-left: 0;
        }
        .row-ccf-wrap a{
            color: #ccc;
            text-decoration: none;
        }
        .row-ccf-wrap > div{
            padding: 0 20px;
        }
        li > span{
            background-color: blue;
            width: 30px;
            height: 30px;
            padding: 5px 8px;
            border-radius: 50%;
        }
        #twitter{
            background: skyblue;
        }
        #insta{
            background: rgba(158, 25, 76, 0.801);
        }
        
        .follow-us > ul > li{
            padding: 14px 5px;
        }
        li > img{
            width: 150px;
        }
        .footer-head{
            display: flex;
            flex-direction: row;
            background: #3F4950;
            color: white;
            height: 60px;
            line-height: 60px;
        }
        .footer-head > div{
            width: 20%;
            text-align: center;
            font-size: 15px;
        }
        .footer-content{
            display: flex;
            flex-direction: row;
            background: #909496;
        }
        .footer-content  ul{
            list-style: none;
            padding-left: 8px;
        }
        .footer-content a{
            color: #fff;
            text-decoration: none;
        }
        .footer-content ul > li{
            padding: 12px 7px 0 0;
        }